@charset "shift_jis";
/* this @charset is for mozilla's bug */

.pukiwiki_body
{
	background-color: #F5F5F5;
	border: 1px solid #CCD5DD;
	padding: 10px;
	word-break:normal;
	line-height:1.5;
}

.wiki_content
{
	line-height:1.5;
}
.wiki_content a
{
	border-bottom: 1px dotted #6699FF;
}

.wiki_content a:hover
{
	text-decoration: none;
	border-bottom: 1px solid #FF0000;
}

div.wiki_body_block
{
	background-color: #F5F5F5;
	margin-bottom: 8px;
	text-align:left;
}

div.wiki_body_block_tate
{
	width:600px;
	height:430px;
	background-color: #F5F5F5;
	margin-bottom:20px;
	direction:rtl;
	unicode-bidi:bidi-override;
	overflow-x:auto;
	overflow-y:hidden;
	border:1px solid silver;
	text-align:left;
}

div.tate
{
	width:100%;
	height:100%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	direction:ltr;
	unicode-bidi:bidi-override;
	writing-mode:tb-rl;
	line-height:2em;
	font-family:'ＭＳ ゴシック',serif;
	text-align:left;
	overflow: auto;
	word-break: break-all;
	-moz-box-sizing:border-box;
}

div.tate p
{
	margin:10px 10px 5px 0px;
}

div.wiki_page_title
{
	width:80%;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	border: 2px ridge #6699FF;
	background-color:#FFFFEE;
	padding:2px;
}

div.wiki_page_navi
{
	text-align:center;
	background-color:white;
	border-bottom:  1px solid #6699FF;
	border-top:     1px solid #6699FF;
	margin-bottom:  5px;
	margin-top:     5px;
}
pre, dl, ol, ul, blockquote, td { line-height:1.5; }

p
{
	margin-left:10px;
}

li
{
}

h1
{
 	border-bottom:  7px solid #DDEEFF;
 	border-top:     1px solid #DDEEFF;
 	border-left:   20px solid #DDEEFF;
 	border-right:   5px solid #DDEEFF;
	font-size:20pt;
	font-family: verdana, arial, helvetica, Sans-Serif;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0.2em;
	margin: 1px;
	text-align: left;

}

h2
{
 	border-bottom:  5px solid #DDEEFF;
 	border-top:     1px solid #DDEEFF;
 	border-left:   15px solid #DDEEFF;
 	border-right:   5px solid #DDEEFF;
	font-size:16pt;
	font-family: verdana, arial, helvetica, Sans-Serif;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0.2em;
	margin: 1px;
	margin-bottom: 3px;
	text-align: left;

}

h3
{
 	border-bottom:  3px solid #DDEEFF;
 	border-top:     1px solid #DDEEFF;
 	border-left:   10px solid #DDEEFF;
 	border-right:   5px solid #DDEEFF;
	font-size:12pt;
	background-color: #FFFFFF;
	padding: 0.2em;
	padding-left: 0.4em;
	margin: 1px;
	margin-bottom: 3px;
	font-family: verdana, arial, helvetica, Sans-Serif;
	text-align: left;

}

h4
{
 	border-left:   18px solid #DDEEFF;
	background-color: #FFFFFF;
	padding: 0.1em;
	padding-left: 0.4em;
	margin: 1px;
	margin-bottom: 1px;
	font-family: verdana, arial, helvetica, Sans-Serif;
	text-align: left;
}

h5, h6
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	background-color: #DDEEFF;
	padding: .3em;
	text-align: left;
}

dt {
	font-weight: bold;
	margin-top: 1em;
	margin-left: 1em;
}

pre {
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	line-height:1.5;
	padding:5px 0px 5px 10px;
	margin: 5px 0px 5px 30px;
	white-space: pre;
	background-color: #F0F8FF;
	color: black;
	font-size:12px;
}

pre.multi {
	border: none;
	margin: 0px;
	padding: 0px;
}

div.multi {
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	line-height:1.5;
	padding:5px 0px 5px 10px;
	margin: 5px 0px 5px 30px;
	white-space: pre;
	background-color: #F0F8FF;
	color: black;
	font-size:12px;
	width: 700px;
	overflow: auto;
	margin-bottom: 0px;
}



input.copyButton {
	border: 1px solid #5E5D63;
	margin: 0px 0px 0px 30px;
	color: #000000;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	text-align:center;
	background-color:EEF8FD;
}

img {
	border: none;
	vertical-align: middle;
}

em {
	font-style:italic;
}

rt {
	font-weight:100;
}

strong {
	font-weight:bold;
}

address {
	font-style:normal;
	font-family:Verdana;
	font-size:9px;
}

.noexists {
	background-color:#FFFACC;
}

.style_table {
	width:auto;
	margin:auto;
	border:0px;
	border-color:#99CCCC;
	padding:0px;
	background-color:#CCD5DD;
}

.style_td {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
	color: black;
}

.style_th {
	background-color: #dde5ee;
	padding: 5px;
	margin: 1px;
	color: black;
}

.style_calendar {
	border: 0px;
	background-color: #CCD5DD;
	padding: 0px;
	width:168px;
}

.style_calendar_navi {
	border: 0px;
	background-color: #DDE5FF;
	padding: 0px;
}

.style_calendar_date {
	font-family:georgia, verdana, arial, sans-serif;
	font-size: 24px;
	background-color: #FFFFFF;
	border-width: 2px 0px 2px 0px;
	border-style:dashed;
	border-color:#6666FF;
	text-align: left;
}

.style_calendar_body {
	background-color: #EEF5FF;
	margin-top:5px;
	margin-right:10px;
	margin-bottom:5px;
	margin-left:50px;
	padding-top:0px
	padding-right:30px;
	padding-bottom:0px;
	padding-left:10px;
	border-color:#CCD5DD;
	border-width:2pt;
	border-style:dashed;
}

.style_td_caltop {
	background-color: #EEF5FF;
	padding: 0px;
	margin: 1px;
}

.style_td_today {
	background-color: #CCFF99;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}

.style_td_sat {
	background-color: #EEF7FF;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}

.style_td_sun {
	background-color: #FFEEEE;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}
.style_td_day {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}
.style_td_blank {
	background-color: #EEEEEE;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
}

.style_td_week {
	background-color: #DDE5EE;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:15px;
}
.style_sunday_font {
	color: #ff0000;
	font-weight:normal;
}
.style_weekday_font {
	color: #000000;
	font-weight:normal;
}
.style_satday_font {
	color: #0000ff;
	font-weight:normal;
}
.style_today_font {
	font-weight:700;
}


.small {
	font-size:12px;
}

.super_index {
	color: #DD3333;
	font-weight: bold;
	font-size:12px;
	vertical-align:super;
}

.note_super {
	color: #DD3333;
	font-weight: bold;
	font-size:10px;
	vertical-align:super;
}

.full_hr {
	border-style:ridge;
	border-color:#CCCCFF;
	border-width:1px 0px;
}

.note_hr {
	width:90%;
	border-style:dotted;
	border-color:#AAAAFF;
	border-width:1px 0px;
	text-align:center;
}

.side_label {
	text-align:center;
}

.counter {
	font-size:10px;
}
.vote_label{
	background-color: #FFCCCC;
}
.vote_td1{
	background-color: #DDE5FF;
}
.vote_td2{
	background-color: #EEF5FF;
}

.recent_date{
	text-align:left;
	font-weight: bold;
}
.recent_list{
	margin:0px;
	margin-left:1em;
	padding:0px;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}

.side_label{
	margin:auto;
	margin-top:0px;
	margin-bottom:.5em;
}

span.diff_added {
	color: blue;
}

span.diff_removed {
	color: red;
}

.ie5 {
	text-align:center;
}

.size1{
	font-size:xx-small;
	text-indent:0px;
	display:inline-block;
}

.size2{
	font-size:x-small;
	text-indent:0px;
	display:inline-block;
}

.size3{
	font-size:small;
	text-indent:0px;
	display:inline-block;
}
.size4{
	font-size:medium;
	text-indent:0px;
	display:inline-block;
}

.size5{
	font-size:large;
	text-indent:0px;
	display:inline-block;
}

.size6{
	font-size:x-large;
	text-indent:0px;
	display:inline-block;
}

.size7{
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

ul.list1{
	list-style-type:disc;
}

ul.list2{
	list-style-type:circle;
}

ul.list3{
	list-style-type:square;
}

ol.list1{
	list-style-type:decimal;
}

ol.list2{
	list-style-type:lower-roman;
}

ol.list3{
	list-style-type:lower-alpha;
}
div.p_left{
	text-align:left;
}
div.p_center{
	text-align:center;
}
div.p_right{
	text-align:right;
}
.clear{
	margin:0px;
	clear:both;
}

div.page_list_word {
	border-top:1px solid;
	border-bottom:1px dotted;
	width:80px;
	text-align:center;
}

div.wiki_filelist_page {
	border-top:1px solid maroon;
	border-bottom:1px dotted;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	background-color: white;
}

strong.page_list_word {
	color:maroon;
	font-size:120%;
	padding-top:10px;
}

strong.word0 {
	background-color:#FFFF66;
	color:black;
}

strong.word1 {
	background-color:#A0FFFF;
	color:black;
}

strong.word2 {
	background-color:#99FF99;
	color:black;
}

strong.word3 {
	background-color:#FF9999;
	color:black;
}

strong.word4 {
	background-color:#FF66FF;
	color:black;
}

strong.word5 {
	background-color:#880000;
	color:white;
}

strong.word6 {
	background-color:#00AA00;
	color:white;
}

strong.word7 {
	background-color:#886800;
	color:white;
}

strong.word8 {
	background-color:#004699;
	color:white;
}

strong.word9 {
	background-color:#990099;
	color:white;
}

span.wiki_this_page {
	font-weight:bold;
}

/* for plugin */

/* new.inc.php */
.comment_date
{
	font-size:10px;
}
.new1
{
	color:red;
	background-color:transparent;
	font-size:x-small;
}
.new5
{
	color:green;
	background-color:transparent;
	font-size:xx-small;
}

/* pcomment.inc.php */
li.pcmt
{
	list-style-type: none;
	border:none;
}
input.pcmt
{
	text-indent: -2em;
	padding:0px 0px 0px 2em;
	margin-right:.5em;
	border:none;
}
p.quotation
{
	border: #888899 2px dotted;
	padding: .5em;
	margin-left: 1em;
	margin-right: 2em;
	background-color: #FFFFFF;
	font-size:85%;
	line-height:1.5;
	word-break: break-all;
}
/* source.inc.php */
div.wiki_source
{
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	padding: .5em;
	margin-left: 1em;
	margin-right: 2em;
	background-color: #F0F8FF;
	color: black;
	line-height:1.5;
}
/* ref.inc.php */
div.img_margin
{
	margin: 5px,10px;
}
/* areaedit.inc.php */
span.area_on
{
	background-color: #ffe4e1;
}
span.area_off
{
	background-color: transparent;
}