@charset "shift_jis";
/* this @charset is for mozilla's bug */

.pukiwiki_body
{
	background-color: #F5F5F5;
	border: 1px solid #CCD5DD;
	padding: 10px;
	word-break:normal;
	line-height:1.5;
}

.wiki_content
{
	line-height:1.5;
}
.wiki_content a
{
	border-bottom: 1px dotted #6699FF;
}

.wiki_content a:hover
{
	text-decoration: none;
	border-bottom: 1px solid #FF0000;
}

.pukiwiki_footer
{
	background-color: transparent;
	border: none;
	padding: 10px;
	word-break:normal;
	line-height:1.5;
}

div.wiki_body_block
{
	background-color: #F5F5F5;
	margin-bottom: 8px;
	text-align:left;
}

div.wiki_body_block_tate
{
	width:600px;
	height:430px;
	background-color: #FAFAFA;
	border:1px solid silver;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	font-family:'ＭＳ ゴシック',serif;
	text-align:left;
	text-underline-position:below;
	line-height:2em;
	unicode-bidi:bidi-override;
	writing-mode:tb-rl;
	overflow: auto;
	overflow-x:auto;
	overflow-y:hidden;
	word-break: break-all;
	-moz-box-sizing:border-box;
}

div.tate
{
/*
	width:100%;
	height:100%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	direction:ltr;
	unicode-bidi:bidi-override;
	writing-mode:tb-rl;
	line-height:2em;
	font-family:'ＭＳ ゴシック',serif;
	text-align:left;
	overflow: auto;
	word-break: break-all;
	-moz-box-sizing:border-box;
*/
}

div.wiki_body_block_tate a
{
	border-right: 1px dotted #6699FF;
	border-bottom: none;
}

div.wiki_body_block_tate a:hover
{
	text-decoration: none;
	border-right: 1px solid #FF0000;
	border-bottom: none;
}

div.wiki_body_block_tate p
{
	margin:10px 10px 5px 10px;
}

div.wiki_body_block_tate a.ext
{
	background-position: top;
	padding: 0px;
	padding-top: 12px;
}

div.wiki_body_block_tate h1
{
 	border-right:    7px solid #DDEEFF;
 	border-left:     1px solid #DDEEFF;
 	border-top:     20px solid #DDEEFF;
 	border-bottom:   5px solid #DDEEFF;
}

div.wiki_body_block_tate h2
{
 	border-right:    5px solid #DDEEFF;
 	border-left:     1px solid #DDEEFF;
 	border-top:     15px solid #DDEEFF;
 	border-bottom:   5px solid #DDEEFF;
}

div.wiki_body_block_tate h3
{
 	border-right:    3px solid #DDEEFF;
 	border-left:     1px solid #DDEEFF;
 	border-top:     10px solid #DDEEFF;
 	border-bottom:   5px solid #DDEEFF;
}

div.wiki_body_block_tate h4
{
 	border-top:     18px solid #DDEEFF;
}

div.wiki_page_where
{
	text-align:left;
	background-color:white;
	border-bottom:  2px dashed #6699FF;
	margin-bottom:  2px;
	margin-top:     0px;
	font-size:120%;
}

div.wiki_page_title
{
	width:80%;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	border: 2px ridge #6699FF;
	background-color:#FFFFEE;
	padding:2px;
}

div.wiki_page_navi
{
	text-align:center;
	background-color:white;
	border-bottom:  1px solid #6699FF;
	border-top:     1px solid #6699FF;
	margin-bottom:  5px;
	margin-top:     5px;
}

.pukiwiki_body pre,
.pukiwiki_body dl,
.pukiwiki_body ol,
.pukiwiki_body ul,
.pukiwiki_body li,
.pukiwiki_body blockquote,
.pukiwiki_body td
{
	line-height:1.5;
}

.pukiwiki_body ol,
.pukiwiki_body ul
{
	list-style-position: outside;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pukiwiki_body p
{
	margin-left:10px;
}

li
{
}

.pukiwiki_body h1
{
 	border-bottom:  7px solid #DDEEFF;
 	border-top:     1px solid #DDEEFF;
 	border-left:   20px solid #DDEEFF;
 	border-right:   5px solid #DDEEFF;
	font-size:20pt;
	font-family: verdana, arial, helvetica, Sans-Serif;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0.2em;
	margin: 1px;
	margin-bottom: 10px;
	text-align: left;

}

.pukiwiki_body h2
{
 	border-bottom:  5px solid #DDEEFF;
 	border-top:     1px solid #DDEEFF;
 	border-left:   15px solid #DDEEFF;
 	border-right:   5px solid #DDEEFF;
	font-size:16pt;
	font-family: verdana, arial, helvetica, Sans-Serif;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0.2em;
	margin: 1px;
	margin-bottom: 10px;
	text-align: left;

}

.pukiwiki_body h3
{
 	border-bottom:  3px solid #DDEEFF;
 	border-top:     1px solid #DDEEFF;
 	border-left:   10px solid #DDEEFF;
 	border-right:   5px solid #DDEEFF;
	font-size:12pt;
	background-color: #FFFFFF;
	padding: 0.2em;
	padding-left: 0.4em;
	margin: 1px;
	margin-bottom: 10px;
	font-family: verdana, arial, helvetica, Sans-Serif;
	text-align: left;

}

.pukiwiki_body h4
{
 	border-left:   18px solid #DDEEFF;
	background-color: #FFFFFF;
	padding: 0.1em;
	padding-left: 0.4em;
	margin: 1px;
	margin-bottom: 10px;
	font-family: verdana, arial, helvetica, Sans-Serif;
	text-align: left;
}

.pukiwiki_body h5,
.pukiwiki_body h6
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	background-color: #DDEEFF;
	padding: .3em;
	text-align: left;
	margin-bottom: 10px;
}

.pukiwiki_body dt {
	font-weight: bold;
	margin-top: 1em;
	margin-left: 1em;
}

.pukiwiki_body pre {
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	line-height:1.5;
	padding:5px 0px 5px 10px;
	margin: 5px 0px 5px 30px;
	white-space: pre;
	background-color: #F0F8FF;
	color: black;
	font-size:12px;
}

pre.multi {
	border: none;
	margin: 0px;
	padding: 0px;
}

div.multi {
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	font-size:12px;
	line-height:1.5;
	padding:5px 0px 5px 10px;
	margin: 5px 0px 0px 30px;
	white-space: pre;
	background-color: white;
	width: 700px;
	overflow: auto;
}
div.multi pre {
	background-color: white;
	color: black;
}


input.copyButton {
	border: 1px solid #5E5D63;
	margin: 0px 0px 0px 30px;
	color: #000000;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	text-align:center;
	background-color:EEF8FD;
}

.pukiwiki_body img {
	border: none;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

.pukiwiki_body em {
	font-style:italic;
}

.pukiwiki_body rt {
	font-weight:100;
}

.pukiwiki_body strong {
	font-weight:bold;
}

.pukiwiki_body address,
.pukiwiki_footer address
{
	font-style:normal;
	font-family:Verdana;
	font-size:9px;
}

.noexists {
	background-color:#FFFACC;
}

.style_table {
	width:auto;
	margin-top: 5px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	border:0px;
	border-color:#99CCCC;
	padding:0px;
	background-color:#CCD5DD;
}

.style_td {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
	color: black;
	text-align:left;
}

.style_th {
	background-color: #dde5ee;
	padding: 5px;
	margin: 1px;
	color: black;
}

.style_calendar {
	border: 0px;
	background-color: #CCD5DD;
	padding: 0px;
	width:168px;
}

.style_calendar_navi {
	border: 0px;
	background-color: #DDE5FF;
	padding: 0px;
}

.style_calendar_date {
	font-family:georgia, verdana, arial, sans-serif;
	font-size: 24px;
	background-color: #FFFFFF;
	border-width: 2px 0px 2px 0px;
	border-style:dashed;
	border-color:#6666FF;
	text-align: left;
}

.style_calendar_body {
	background-color: #EEF5FF;
	margin-top:5px;
	margin-right:10px;
	margin-bottom:5px;
	margin-left:50px;
	padding-top:0px
	padding-right:30px;
	padding-bottom:0px;
	padding-left:10px;
	border-color:#CCD5DD;
	border-width:2pt;
	border-style:dashed;
}
.style_calendar_body div.multi {
	width: 600px;
}

.style_td_caltop {
	background-color: #EEF5FF;
	padding: 0px;
	margin: 1px;
}

.style_td_today {
	background-color: #CCFF99;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}

.style_td_sat {
	background-color: #EEF7FF;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}

.style_td_sun {
	background-color: #FFEEEE;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}
.style_td_day {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
	vertical-align: middle;
}
.style_td_blank {
	background-color: #EEEEEE;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:24px;
}

.style_td_week {
	background-color: #DDE5EE;
	padding: 0px;
	margin: 1px;
	width:24px;
	height:15px;
}
.style_sunday_font {
	color: #ff0000;
	font-weight:normal;
}
.style_weekday_font {
	color: #000000;
	font-weight:normal;
}
.style_satday_font {
	color: #0000ff;
	font-weight:normal;
}
.style_today_font {
	font-weight:700;
}


.small {
	font-size:12px;
}

.super_index {
	color: #DD3333;
	font-weight: bold;
	font-size:12px;
	vertical-align:super;
}

.note_super {
	color: #DD3333;
	font-weight: bold;
	font-size:10px;
	vertical-align:super;
}

.full_hr {
	border-style:ridge;
	border-color:#CCCCFF;
	border-width:1px 0px;
}

.note_hr {
	width:90%;
	border-style:dotted;
	border-color:#AAAAFF;
	border-width:1px 0px;
	text-align:center;
}

.side_label {
	text-align:center;
}

.counter {
	font-size:10px;
}
.vote_label{
	background-color: #FFCCCC;
}
.vote_td1{
	background-color: #DDE5FF;
}
.vote_td2{
	background-color: #EEF5FF;
}

.recent_date{
	margin-left:10px;
	text-align:left;
	font-weight:bold;
}

.recent_list{
	list-style-type:disc;
	word-wrap:break-word;
	word-break:break-all;
}

.popular_list{
	list-style-type:decimal;
	word-wrap:break-word;
	word-break:break-all;
}

.side_label{
	margin:auto;
	margin-top:0px;
	margin-bottom:.5em;
}

span.diff_added {
	color: blue;
}

span.diff_removed {
	color: red;
}

.ie5 {
	text-align:center;
}

.size1{
	font-size:xx-small;
	text-indent:0px;
	display:inline-block;
}

.size2{
	font-size:x-small;
	text-indent:0px;
	display:inline-block;
}

.size3{
	font-size:small;
	text-indent:0px;
	display:inline-block;
}
.size4{
	font-size:medium;
	text-indent:0px;
	display:inline-block;
}

.size5{
	font-size:large;
	text-indent:0px;
	display:inline-block;
}

.size6{
	font-size:x-large;
	text-indent:0px;
	display:inline-block;
}

.size7{
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

ul.list1,
li.list1{
	list-style-type:disc;
}

ul.list2,
li.list2{
	list-style-type:circle;
}

ul.list3,
li.list3{
	list-style-type:square;
}

ol.list1{
	list-style-type:decimal;
}

ol.list2{
	list-style-type:lower-roman;
}

ol.list3{
	list-style-type:lower-alpha;
}
div.p_left{
	text-align:left;
}
div.p_center{
	text-align:center;
}
div.p_right{
	text-align:right;
}
.clear{
	margin:0px;
	clear:both;
}

div.page_list_word {
	border-top:1px solid;
	border-bottom:1px dotted;
	width:80px;
	text-align:center;
}

div.wiki_filelist_page {
	border-top:1px solid maroon;
	border-bottom:1px dotted;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	background-color: white;
}

strong.page_list_word {
	color:maroon;
	font-size:120%;
	padding-top:10px;
}

strong.word0 {
	background-color:#FFFF66;
	color:black;
}

strong.word1 {
	background-color:#A0FFFF;
	color:black;
}

strong.word2 {
	background-color:#99FF99;
	color:black;
}

strong.word3 {
	background-color:#FF9999;
	color:black;
}

strong.word4 {
	background-color:#FF66FF;
	color:black;
}

strong.word5 {
	background-color:#880000;
	color:white;
}

strong.word6 {
	background-color:#00AA00;
	color:white;
}

strong.word7 {
	background-color:#886800;
	color:white;
}

strong.word8 {
	background-color:#004699;
	color:white;
}

strong.word9 {
	background-color:#990099;
	color:white;
}

span.wiki_this_page {
	font-weight:bold;
}

/* for plugin */

/* new.inc.php */
.comment_date
{
	font-size:10px;
}
.new1
{
	color:red;
	background-color:transparent;
	font-size:x-small;
}
.new5
{
	color:green;
	background-color:transparent;
	font-size:xx-small;
}

/* pcomment.inc.php */
li.pcmt
{
	list-style-type: none;
	border:none;
}
input.pcmt
{
	text-indent: -2em;
	padding:0px 0px 0px 2em;
	margin-right:.5em;
	border:none;
}
p.quotation
{
	border: #888899 2px dotted;
	padding: .5em;
	margin-left: 1em;
	margin-right: 2em;
	background-color: #FFFFFF;
	font-size:85%;
	line-height:1.5;
	word-break: normal;
}
/* source.inc.php */
div.wiki_source
{
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	padding: .5em;
	margin-left: 1em;
	margin-right: 2em;
	background-color: #F0F8FF;
	color: black;
	line-height:1.5;
}
/* ref.inc.php */
div.img_margin
{
	margin-top: 5px;
	margin-bottom : 5px;
	margin-left: 10px;
	margin-right: 10px;
}
/* areaedit.inc.php */
span.area_on
{
	background-color: #ffe4e1;
}
span.area_off
{
	background-color: transparent;
}
/* ruby.inc.php */
.pukiwiki_body rt, .pukiwiki_body rp
{
	font-size:10px;
	font-weight:normal;
}
/* attach.inc.php */
.pukiwiki_body input.upload_btn
{
	font-size:16px;
	font-weight:bold;
	padding-left:16px;
	padding-top:2px;
	cursor: hand;
	background-image:url("../image/upload.png");
	background-repeat: no-repeat;
	background-color: #ffffef;

}
/* gimage.inc.php */
div.plugin_gimage font
{
	font-size:10px;
	word-break: break-all;
}

/* fusen.inc.php */
div#fusen_area
{
	background:white url("../image/fusen_back01.gif");
	margin 0px;
	padding: 0px;
	height: 0px;
}

div#fusen_area div
{
	box-sizing : border-box;
	-moz-box-sizing : border-box;
}

div.fusen_anchor
{
	margin: 0px;
	padding: 0px;
	height: 0px;
}

fieldset.fusen_fieldset *
{
	margin: 0px;
	padding: 0px;
}

fieldset.fusen_fieldset
{
	margin-top: 3px;
	margin-bottom: 2px;
}

div.fusen_top_menu
{
	margin: 0px;
	padding: 0px;
}

div.fusen_body
{
	background-color: transparent;
	white-space: nowrap;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	cursor: auto;
}

div.fusen_body_trans
{
	background-color: transparent;
	white-space: nowrap;
	position: absolute;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	cursor: auto;
}
div.fusen_body table,div.fusen_body_trans table
{
	margin:5px;
	width: auto;
	height: auto;
}

div.fusen_menu
{
	padding:1px;
	font-size:80%;
	white-space: nowrap;
	color: #000000;
	background-color: #e9e9e9;
	border-Bottom: 1px dotted #FFFFFF;
	width: auto;
	height: auto;
}
div.fusen_info
{
	padding:1px;
	font-size:70%;
	text-align: right;
	white-space: nowrap;
	color: #000000;
	background-color: #EEE0E5;
	width: auto;
	height: auto;
	cursor: auto;
}

div.fusen_contents
{
	font-size:80%;
	padding:2px 2px 0px 2px;
	padding:0px;
	margin:2px;
	width: auto;
	height: auto;
	cursor: auto;
}

div.fusen_contents p
{
	margin:3px 0px;
}

div.fusen_contents hr
{
}

img.fusen_resize
{
	background-color: transparent;
	width: 6px;
	height: 6px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: nw-resize;
}

img.fusen_wresize
{
	background-color: transparent;
	width: 3px;
	height: 17px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: w-resize;
}

div.fusen_editbox
{
	position: absolute;
	left: 100px;
	top: 100px;
	border: black 2px solid;
	color: #000000;
	background-color: #cccccc;
	padding: 4px;
	visibility: hidden;
	cursor: move;
}

div.fusen_editbox div.wiki_helper
{
	cursor: auto;
	margin: 0px;
	padding: 0px;
}

div.fusen_editbox_title
{
	color: white;
	background:blue url("../image/fusen.gif") no-repeat;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

div.fusen_editbox_title a:link, div.fusen_editbox_title a:visited
{
	color: white;
}

div.fusen_editbox_footer
{
	background:#EEDFCC;
	text-align: center;
	margin-top: 3px;
}

div.fusen_help
{
	position: absolute;
	font-size: 11px;
	left: 0px;
	top: 0px;
	padding: 4px;
	background-color: white;
	border: black 2px solid;
	visibility: hidden;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	cursor: move;
}

div#fusen_list *
{
	list-style-position: inside;
}
div.fusen_list
{
	position: absolute;
	font-size: 11px;
	left: 0px;
	top: 0px;
	padding: 4px;
	background-color: white;
	border: black 2px solid;
	visibility: hidden;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	cursor: move;
}
div.fusen_list a:link
{
	color: black;
}
div.fusen_list a:visited
{
	color: black;
}
div.fusen_list a:hover
{
	color: blue;
}
div.fusen_list a:active
{
	color: red;
}

